@import "bourbon";
@import "base/base";
@import "neat";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
div {
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  background-color: #E0E0E0;
}

hr {
  top-border: 2px;
}

.container {
  @include outer-container;
  font-family: monospace;
  color: $dark-gray;
}

h1, h2, h3, h4 {
  font-family: monospace;
}

#packager-title {
  margin: 0 auto;
}

code {
  background-color: white;
  // color: black;
}

.keyword {
  background-color: $dark-gray;
  color: $light-gray;
}

.last {
  @include omega();
}

.question {
  background-color: white;
}

.marker {
  margin-top: 30px;
  margin-bottom: 30px;
}
 ul {
 padding-bottom: 7px;
}

input[type="submit"] {
  font-family: monospace;
  color: $dark-gray;
  background-color: $light-gray;
  display: inline-block;
  font-weight: normal;
  border-radius: 0;
  outline: none;

  &:hover {
    color: $light-gray;
    background-color: $dark-gray;
  }
}

input[type="text"] {
  font-family: monospace;
}

#flash_alert {
  @extend %flash-alert;
}

#flash_success {
  @extend %flash-success;
}
