<div class="marker">
  (BEGINS)
</div>

<div class="instruction" >
  <p class="question">WHAT IS PKG.CAT?</p>
  <p>An email application. It can be used 
  to create a collection of attachments, links, and content with 
  context. These collections are packages. Packages are made and shared through 
  email.</p>
  <p>
  There is no sign up. There is no log in. No spam. Use the app when it benefits you.
  </p>

  <p class="question">WHY WOULD I MAKE A PACKAGE?</p>
  <p>A need to share a collection of material.
  </p>

  <p class="question">HOW DO I MAKE A PACKAGE?</p>
  <p>An email sent to <code>new@pkg.cat</code>. An email
  confirmation with your retrieval address will be sent in response.<p>

  <p class="question">AND <br>WHAT INFORMATION DO I INCLUDE?</p>
  <p>The following fields are accepted:

  <ul>
    <% @keywords.each do |name, description| %>
      <li><span class="keyword"><%= name %></span> <%= description %></li>
    <% end %>
  </ul>
  The subject line of the incoming email will be the subject line of the 
  outgoing email. Attachments included in the initial email will be included
  with every request for a package.</p>
  <p>
  An example incoming email:
  </p>

  <p class="question">WHAT HAPPENS TO THE EMAIL I SEND?</p>
  <p>It is parsed and waits to be called.</p>

  <p class="question">HOW DO I SHARE THE PACKAGE I CREATED?</p>
  <p>Email the retrieval address in you confirmation email. It is available
  immediately.</p>

  <p class="question">WHAT DOES AN OUTGOING PACKAGE LOOK LIKE?</p>
  <p>Find out.</p>
  
  <p class="question">PRIVACY</p>
  <p>PKG.CAT encrypts email address information.<br>All fields in a package
  are optional.</p>
</div>

<div class="marker">(ENDS)</div>
