<!DOCTYPE html>
<html>
<head>
  <title>PKG.CAT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="heading">
      <p>PKG.CAT</p>
    </div>

    <%= yield %>
  </div>
</body>
</html>
